<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body class="not-home">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

 
{% include nav.html %}

<div id="content-primary" class="content-primary home">


<div class="collapse">  

  <section id="intro">
      <h1 class="logo">The Suite</h1>
  </section>

  <section id="slider">  
     <div class="royalSlider heroSlider rsMinW" id="home-slider">
          <div class="rsContent">
              <img alt="" class="rsImg" src="assets/img/lela.jpg" height="650" width="1400">
          </div>
           <div class="rsContent">
                <img alt="" class="rsImg" src="assets/img/left2.jpg" height="650" width="1400">
          </div>
          <div class="rsContent">
                <img alt="" class="rsImg" src="http://www.placehold.it/1400x650/000000/ffffff">
          </div>
      </div>
  </section>

</div>

   <header>
      <div>
        <a href="/"><h2 class="logo col-one"></h2></a>
        <div class="col-six pull-right">
          <h2 class="title pull-left">New Collection</h2>
          <h2><a class="pull-right" href="#menu" id="menu-trigger">Menu</a></h2>
        </div>
      </div>
   </header>
   
  <div id="guts">
    <div id="ghost">
    {{ content }}
    </div>
  </div>
     {% include footer.html %}
</div>


    <!--[if lte IE 8]>
      {% include scripts-ie8.html %}
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
