<div class="loading">
  <div class="logo"></div>
</div>

<nav id="menu">
      <div id="menu-close"><a href="#">Close</a></div>
   
    <ul class="page-links">
      <li><a class="ajaxCall" href="/designers">The Designers</a></li>
      <li><a class="ajaxCall" href="#">Accessories</a></li>
      <li><a class="ajaxCall" href="#">Bridesmaids</a></li>
      <li><a class="ajaxCall" href="/blog">The Brides</a></li>
      <li><a class="ajaxCall" href="/about">About Us</a></li>
      <li><a class="ajaxCall" href="/faqs">FAQ's</a></li>
      <li><a class="ajaxCall" href="/single">Single Page</a></li>
    </ul>
    
    <ul class="social">
      <li class="twitter"><a href=""></a></li>
      <li class="facebook"><a href=""></a></li>
      <li class="pinterest"><a href=""></a></li>
    </ul>
  </nav>
