<div class="loading">
  <div class="logo"></div>
</div>

<nav id="menu">
      <div id="menu-close"><a href="#">Close</a></div>
   
    <ul class="page-links">
      <li><a href="/designers">The Designers</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Bridesmaids</a></li>
      <li><a href="/blog">The Brides</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/faqs">FAQ's</a></li>
    </ul>
    
    <ul class="social">
      <li class="twitter"><a href=""></a></li>
      <li class="facebook"><a href=""></a></li>
      <li class="pinterest"><a href=""></a></li>
    </ul>
  </nav>
